{% extends "base.html" %}

{% block content %}
    <script type='text/javascript'>
        $(function() {
            ajax();

            $('#markdown').keypress(function(e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode == 9) {
                   e.preventDefault();
                   insertAtCaret('markdown', '\t')
                }

                if (e.which == 13) {
                    ajax();
                }
            });

            function insertAtCaret(areaId,text)
            {
                var txtarea = document.getElementById(areaId);
                var scrollPos = txtarea.scrollTop;
                var strPos = 0;
                var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? "ff" : (document.selection ? "ie" : false ) );
                if (br == "ie") {
                    txtarea.focus();
                    var range = document.selection.createRange();
                    range.moveStart ('character', -txtarea.value.length);
                    strPos = range.text.length;
                } else if (br == "ff") strPos = txtarea.selectionStart;
                var front = (txtarea.value).substring(0,strPos);
                var back = (txtarea.value).substring(strPos,txtarea.value.length);
                txtarea.value=front+text+back;strPos = strPos + text.length;
                if (br == "ie") {
                    txtarea.focus();
                    var range = document.selection.createRange();
                    range.moveStart ('character', -txtarea.value.length);
                    range.moveStart ('character', strPos);
                    range.moveEnd ('character', 0);
                    range.select();
                } else if (br == "ff") {
                    txtarea.selectionStart = strPos;txtarea.selectionEnd = strPos;txtarea.focus();
                }
                txtarea.scrollTop = scrollPos;
            }

            function ajax()
            {
                $.ajax({
                    type: "POST",
                    url: "{{ baseUrl() }}/admin/markdown/ajax",
                    data: { markdown: $("#markdown").val() },
                    success: function(response) {
                        $("#right").html(response);
                    }
                });
            }
        });
    </script>

    <form method="post" action="{{ baseUrl() }}/admin/posts/edit/{{id}}">

        {% if error is not empty %}
            <h3 class="text-center"><span class="label label-danger">
                {% if error == 1 %}
                    {{ include(template_from_string(lang.inserttitle)) }}
                {% elseif error == 2 %}
                    {{ include(template_from_string(lang.inserttext)) }}
                {% endif %}
            </span></h3>
        {% endif %}

        <div class="row">
            <div class="col-md-6" id='left'>
                <input type="text" class="form-control" name="title" value="{{ title }}" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6" id='left'>
                <textarea class="form-control" rows="15" id='markdown' name="markdown" required>{{ text }}</textarea>
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">{{ include(template_from_string(lang.updateit)) }}</button>
            </div>
            <div class="col-md-6" id='right'>
                {{ include(template_from_string(lang.loading)) }}
            </div>
        </div>
    </form>
{% endblock %}