{% extends "base.html" %}

{% block content %}
    <div class="container">
          <form class="form-signin" method="post" action="{{settings.base_url}}/admin/settings/update">
              <h2 class="form-signin-heading">Settings</h2><br />

              {% if error is not empty %}
                  <h3 class="text-center"><span class="label label-danger">{{error}}</span></h3>
              {% endif %}

              <label for="title" class="control-label">Title</label>
              <input type="text" name="title" class="form-control" id="title" value="{{settings.title}}" required><br />

              <label for="template" class="control-label">Select template</label>
              <select class="form-control" name="template" id="template">
                  {% for dir in dirs %}
                      <option value="{{dir|e}}" {% if settings.template == dir %}selected{% endif %}>{{dir|e}}</option>
                  {% endfor %}
              </select><br />

              <label for="post_per_page" class="control-label">Post per page</label>
              <input type="text" name="post_per_page" class="form-control" id="post_per_page" value="{{settings.post_per_page}}" required><br />
              
              <div class="checkbox">
                <label for="truncate" class="control-label">Truncate article</label>
                <input type="checkbox" name="truncate" class="form-control" id="truncate"
                       {% if settings.truncate is sameas("true") %}
                           checked
                       {% endif %}
                ><br />
              </div>
              
              <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
          </form>
    </div>
{% endblock %}