{% extends "base.html" %}

{% block content %}
    <div class="container">
          <form class="form-signin" method="post" action="{{settings.base_url}}/admin/users/edit/{{u.id}}">
              <h2 class="form-signin-heading">Edit {{u.username}} profile</h2><br />

              {% if error is not empty %}
                  <h3 class="text-center"><span class="label label-danger">{{error}}</span></h3>
              {% endif %}

              <label for="username" class="control-label">Username</label>
              <input type="text" name="username" class="form-control" id="username" value="{{u.username}}" required><br />

              <label for="email" class="control-label">Email</label>
              <input type="email" name="email" class="form-control" id="email" value="{{u.email}}" required><br />

              <label for="password" class="control-label">Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="New password" required><br />

              <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
          </form>
    </div>
{% endblock %}