<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{settings.title}}</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{settings.base_url}}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{settings.base_url}}/css/custom.css" rel="stylesheet">

        <script src="{{settings.base_url}}/js/jquery.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% if user is empty %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{settings.base_url}}/">{{settings.title}}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{settings.base_url}}/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{settings.base_url}}/admin/login"><span class="glyphicon glyphicon-tower"></span> Admin area</a></li>
                </ul>
            </div>
        </nav>
        {% else %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{settings.base_url}}/">phatBlog</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{settings.base_url}}/admin"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="{{settings.base_url}}/admin/posts/new"><span class="glyphicon glyphicon-file"></span> New post</a></li>
                        <li><a href="{{settings.base_url}}/admin/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                        <li><a href="{{settings.base_url}}/admin/users/new"><span class="glyphicon glyphicon-star"></span> New user</a></li>
                        <li><a href="{{settings.base_url}}/admin/settings"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{settings.base_url}}/admin/logout"><span class="glyphicon glyphicon-off"></span> Logout ({{user}})</a></li>
                    </ul>
                </div>
            </nav>
        {% endif %}

        {% block content %}
        {% endblock %}

        <div id="footer">
            <div class="container">
                <p class="text-muted credit">Repo stored on <a href="http://github.com/fdisotto/SlimBlog">Github</a> and distributed under <a href="http://www.gnu.org/licenses/gpl.txt">GNU General Public License v3</a>.</p>
            </div>
        </div>

        <script src="{{settings.base_url}}/js/bootstrap.min.js"></script>
    </body>
</html>
