{% extends "base.html" %}

{% block content %}
    <div class="container">
          <form class="form-signin" method="post" action="{{ baseUrl() }}/admin/login">
              <h2 class="form-signin-heading">{{ include(template_from_string(lang.pleasesignin)) }}</h2>
              {% if error is not empty %}
                  <h3><span class="label label-danger">{{ include(template_from_string(lang.invaliduser)) }}</span></h3>
              {% endif %}
              <input type="text" name="form-username" class="form-control" placeholder="{{ include(template_from_string(lang.username)) }}" required autofocus>
              <input type="password" name="form-password" class="form-control" placeholder="{{ include(template_from_string(lang.password)) }}" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">{{ include(template_from_string(lang.signin)) }}</button>
          </form>
    </div>
{% endblock %}