{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{post.title}}</h3>
            </div>
            <div class="panel-body">
                {{post.text|raw}}
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>{{ include(template_from_string(lang.writtenby)) }} <strong>{{post.author}}</strong> {{ include(template_from_string(lang.on)) }} {{post.date}}.</h6>
                    </div>
                    <div class="col-md-6 text-right">
                        <h6><a href="{{ baseUrl() }}/post/{{post.id}}#comments">{{ include(template_from_string(lang.comments)) }}(<strong>{{post.count}}</strong>)</a></h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <h3 id="comments">{{ include(template_from_string(lang.comments)) }}</h3>
            {% if comments is not empty %}
                {% for comment in comments %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{comment.url}}">{{comment.username}}</a></h3>
                        </div>
                        <div class="panel-body">
                            {{comment.text|raw}}
                        </div>
                        <div class="panel-footer">
                            <h6>{{ include(template_from_string(lang.postedon)) }} {{comment.created_at}}</h6>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <form action="{{ baseUrl() }}/post/comment/new" method="POST">
                {% if error is not empty %}
                    <h3 class="text-center"><span class="label label-danger">
                        {% if error == 1 %}
                            {{ include(template_from_string(lang.checkuser)) }}
                        {% elseif error == 2 %}
                            {{ include(template_from_string(lang.checkurl)) }}
                        {% elseif error == 3 %}
                            {{ include(template_from_string(lang.checkemail)) }}
                        {% elseif error == 4 %}
                            {{ include(template_from_string(lang.inserttext)) }}
                        {% endif %}
                    </span></h3>
                {% endif %}

                <div class="col-md-5">
                    <input type="text" name="username" class="form-control" placeholder="{{ include(template_from_string(lang.username)) }}" required />
                </div><br /><br>

                <div class="col-md-5">
                    <input type="url" name="url" class="form-control" value="http://" required />
                </div><br /><br>

                <div class="col-md-5">
                    <input type="email" name="email" class="form-control" placeholder="{{ include(template_from_string(lang.email)) }}" required />
                </div><br /><br>

                <div class="col-md-7">
                    <textarea class="form-control" class="form-control" rows="6" name="text" required ></textarea>
                </div><br /><br /><br /><br /><br /><br /><br /><br />

                <div class="row col-md-3">
                    <input type="hidden" name="post_id" value="{{post.id}}" />
                    <input type="hidden" name="redirect" value="{{redirect}}#comments" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ include(template_from_string(lang.comment)) }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}