{% extends "base.html" %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-th-large"></span></th>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><a href="{{settings.base_url}}/post/{{post.id}}">{{post.title}}</a></td>
                    <td>{{post.author}}</td>
                    <td>{{post.date}}</td>
                    <td><a href="{{settings.base_url}}/admin/posts/edit/{{post.id}}">Edit</a> | <a href="{{settings.base_url}}/admin/posts/delete/{{post.id}}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}